{% extends 'base.html.twig' %}

{% block title %}Portfolio Alexandre Iob Guillard{% endblock %}

{% block body %}


<div class="centered-section">
        <img src="{{ asset('images/profil.jpg') }}" alt="Ma Photo">
        <h1>Alexandre Guillard</h1>
        <h2>Développeur
        <span class="special">Web</span> & <span class="special">Web Mobile</span>
</h2>

        <p class="presentation-text">Après 15 années dans le graphisme, j’ai effectué une reconversion professionelle en tant que Développeur Web, je me suis spécialisé dans le back et plus particulièrement dans le framework Symfony.</p>
</div>


<!-- Section des 4 ICONES -->

<div class="circle-section">
       <!-- Expérience -->
    <div class="circle">
        <a href="{{ path('app_experience') }}">
            <img src="{{ asset('images/experience.gif') }}" alt="Expérience" class="circle-icon">
        </a>
        <div class="circle-title">
            <a href="{{ path('app_experience') }}">Expérience</a>
        </div>
    </div>

    <!-- Compétences -->
    <div class="circle">
        <a href="{{ path('app_competence') }}">
            <img src="{{ asset('images/competences.gif') }}" alt="Compétences" class="circle-icon">
        </a>
        <div class="circle-title">
            <a href="{{ path('app_competence') }}">Compétences</a>
        </div>
    </div>

   <!-- Formation -->
    <div class="circle">
        <a href="{{ path('app_formation') }}">
            <img src="{{ asset('images/formation.gif') }}" alt="Formation" class="circle-icon">
        </a>
        <div class="circle-title">
            <a href="{{ path('app_formation') }}">Formation</a>
        </div>
    </div>


   <!-- Centres d'intérêts -->
    <div class="circle">
        <a href="{{ path('app_centresdinterets') }}">
            <img src="{{ asset('images/centresdinterets.gif') }}" alt="Centres d'intérêts" class="circle-icon">
        </a>
        <div class="circle-title">
            <a href="{{ path('app_centresdinterets') }}">Centres d'intérêts</a>
        </div>
    </div>
</div>


<!-- Section PROJETS -->

<div class="centered-section">
    <h2>Projets</h2>
</div>

<div class="projects-container">
    <div class="projects-section">
        <div class="project">
            <img src="{{ asset('images/mycollection.png') }}" alt="My Collection">
            <a href="https://lien-vers-mycollection" target="_blank" class="overlay">
                <p>Visitez ce projet</p>
                <div class="divider"></div>
                 <div class="project-icons">
                    <img src="{{ asset('images/pictos/symfony.png') }}" alt="Symfony">
                    <img src="{{ asset('images/pictos/HTML5.png') }}" alt="HTML5">
                    <img src="{{ asset('images/pictos/css.png') }}" alt="CSS3">
                    <img src="{{ asset('images/pictos/java.png') }}" alt="Javascript">
                    <img src="{{ asset('images/pictos/php.png') }}" alt="PHP">
                    <img src="{{ asset('images/pictos/mysql.png') }}" alt="Mysql">
                    <img src="{{ asset('images/pictos/git.png') }}" alt="Git">
                    <img src="{{ asset('images/pictos/twig.png') }}" alt="Twig">
                    <!-- Ajoutez d'autres icônes selon les technologies utilisées pour le Projet 1 -->
                </div>
                 
            </a>
        </div>
        <div class="project">
            <img src="{{ asset('images/gaminglibrary.png') }}" alt="Gaming Library">
            <a href="https://lien-vers-gaminglibrary" target="_blank" class="overlay">
                <p>Visitez ce projet</p>
                <div class="divider"></div>
                 <div class="project-icons">
                    <img src="{{ asset('images/pictos/symfony.png') }}" alt="Symfony">
                    <img src="{{ asset('images/pictos/HTML5.png') }}" alt="HTML5">
                    <img src="{{ asset('images/pictos/css.png') }}" alt="CSS3">
                    <img src="{{ asset('images/pictos/java.png') }}" alt="Javascript">
                    <img src="{{ asset('images/pictos/php.png') }}" alt="PHP">
                    <img src="{{ asset('images/pictos/mysql.png') }}" alt="Mysql">
                    <img src="{{ asset('images/pictos/git.png') }}" alt="Git">
                    <img src="{{ asset('images/pictos/twig.png') }}" alt="Twig">
                    <!-- Ajoutez d'autres icônes selon les technologies utilisées pour le Projet 1 -->
                </div>
            </a>
        </div>
        <div class="project">
            <img src="{{ asset('images/portfolioecriture.png') }}" alt="Portfolio">
            <a href="https://lien-vers-portfolio" target="_blank" class="overlay">
                <p>Visitez ce projet</p>
                <div class="divider"></div>
                 <div class="project-icons">
                    <img src="{{ asset('images/pictos/symfony.png') }}" alt="Symfony">
                    <img src="{{ asset('images/pictos/HTML5.png') }}" alt="HTML5">
                    <img src="{{ asset('images/pictos/css.png') }}" alt="CSS3">
                    <img src="{{ asset('images/pictos/java.png') }}" alt="Javascript">
                    <img src="{{ asset('images/pictos/php.png') }}" alt="PHP">
                    <img src="{{ asset('images/pictos/git.png') }}" alt="Git">
                    <img src="{{ asset('images/pictos/twig.png') }}" alt="Twig">
                    <!-- Ajoutez d'autres icônes selon les technologies utilisées pour le Projet 1 -->
                </div>
            </a>
        </div>
    </div>





<!-- Informations pour chaque projet -->

<div class="infos-container">

    <div class="project-info">
        <!-- Projet 1 -->
        <h3>My Collection</h3>
       <p>L&rsquo;application My Collection vise &agrave; permettre &agrave; ses visiteurs de visualiser les collections des utilisateurs inscrits (figurines, jeux vid&eacute;os, films, livres, collectibles&hellip;) Elle fait office de biblioth&egrave;que o&ugrave; l&rsquo;on peut naviguer et visualiser les fiches de chaque produit un peu &agrave; la mani&egrave;re d&rsquo;un mus&eacute;e virtuel.</p>
    </div>

    <div class="project-info">
        <!-- Projet 2 -->
        <h3>Gaming Library</h3>
        <p>Application visant &agrave; permettre &agrave; son utilisateur de g&eacute;rer une biblioth&egrave;que de console et de jeux vid&eacute;os via un backoffice complet.</p>
    </div>

    <div class="project-info">
        <!-- Projet 3 -->
        <h3>Portfolio</h3>
        <p>Véritable CV complet en ligne, ce portfolio vise à présenter l'ensemble des éléments importants en vue du recrutement d'un candidat.</p>
    </div>

</div>

</div>



<!-- SECTION CONTACT -->

   <div class="centered-section-contact">
        <h2>Contact</h2>
    </div>



<div class="contact-container">


        <div class="contact-info contact-button">
            <a href="mailto:alexandre.guillard@outlook.fr" class="contact-button">Me Contacter
            </a>
        </div>
     

        <div class="contact-info">
            <a href="https://www.linkedin.com/in/alexandre-iob-guillard/" target="_blank">
            <img src="{{ asset('images/pictos/linkedin.png') }}" alt="Linkedin"></a>
        </div>


        <div class="contact-info">
            <p>06 21 94 07 75</p>
        </div>
 
 
</div>



    









  





{% endblock %}
