{% extends 'base.html.twig' %}

{% block title %}Portfolio Alexandre Iob Guillard{% endblock %}

{% block body %}
<div class="centered-section">
        <img src="{{ asset('images/profil.jpg') }}" alt="Ma Photo">
        <h1>Alexandre Guillard</h1>
        <h2>Développeur
        <span class="special">Web</span> & <span class="special">Web Mobile</span>
</h2>

        <p class="presentation-text">Après 15 années dans le graphisme, j’ai effectué une reconversion professionelle en tant que Développeur Web, je me suis spécialisé dans le back et plus particulièrement dans le framework Symfony.</p>
</div>


<!-- Section des 4 ICONES -->

<div class="circle-section">
    <!-- Expérience -->
    <div class="circle">
        <img src="{{ asset('images/experience.gif') }}" alt="Expérience" class="circle-icon">
        <div class="circle-title">
            <a href="#experience">Expérience</a>
        </div>
    </div>

    <!-- Compétences -->
    <div class="circle">
        <img src="{{ asset('images/competences.gif') }}" alt="Compétences" class="circle-icon">
        <div class="circle-title">
            <a href="#competences">Compétences</a>
        </div>
    </div>

    <!-- Formation -->
    <div class="circle">
        <img src="{{ asset('images/formation.gif') }}" alt="Formation" class="circle-icon">
        <div class="circle-title">
            <a href="#formation">Formation</a>
        </div>
    </div>

    <!-- Centres d'intérêts -->
    <div class="circle">
        <img src="{{ asset('images/centresdinterets.gif') }}" alt="Centres d'intérêts" class="circle-icon">
        <div class="circle-title">
            <a href="#interets">Centres d'intérêts</a>
        </div>
    </div>
</div>


<!-- Section PROJETS -->

<div class="centered-section">
        <h2>Projets</h2>
</div>

<div class="projects-container">
    <div class="projects-section">
        <div class="project"></div>
        <div class="project"></div>
        <div class="project"></div>
    </div>



<!-- Informations pour chaque projet -->

<div class="infos-container">

    <div class="project-info">
        <!-- Projet 1 -->
        <h3>My Collection</h3>
        <p>Description du Projet 1.</p>
        <div class="project-icons">
            <img src="{{ asset('images/pictos/logo_HTML.png') }}" alt="HTML5" class="small-icon">
            <img src="{{ asset('images/pictos/logo_CSS.png') }}" alt="CSS3" class="small-icon">
            <!-- Ajoutez d'autres icônes selon les technologies utilisées pour le Projet 1 -->
        </div>

    </div>

    <div class="project-info">
        <!-- Projet 2 -->
        <h3>Back Office</h3>
        <p>Description du Projet 2.</p>
        <div class="project-icons">
            <img src="icone3.png" alt="Technologie 3">
            <img src="icone4.png" alt="Technologie 4">
            <!-- Ajoutez d'autres icônes selon les technologies utilisées pour le Projet 2 -->
        </div>
    </div>

    <div class="project-info">
        <!-- Projet 3 -->
        <h3>Portfolio</h3>
        <p>Description du Projet 3.</p>
        <div class="project-icons">
            <img src="icone5.png" alt="Technologie 5">
            <img src="icone6.png" alt="Technologie 6">
            <!-- Ajoutez d'autres icônes selon les technologies utilisées pour le Projet 3 -->
        </div>
    </div>


</div>

  





{% endblock %}
