<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}?v=<?= filemtime('public/css/styles.css') ?>" />
        <link rel="icon" href="{{ asset('images/lettre-a.png') }}" type="image/x-icon">

       


        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
<style>
    body {
        margin-top: 0px; /* Ajoute une marge négative pour compenser la barre en haut */
    }
</style>


<body class="{{ isDarkMode ? 'dark-mode' : '' }}">
    <div class="background-container"></div>
    <!-- Le reste de ton code HTML ici -->

    <style>
    #toggle-dark-mode-container {
        display: flex;
        justify-content: center;
        margin-bottom: -40px;
        height : 100px;
    }

    #toggle-dark-mode {
        background-color: transparent;
        border: none;
    }

    /* Styles pour le mode clair */
 
    #toggle-dark-mode-container.light-mode {
        background-color: #f2f2f2; /* Couleur de fond pour le conteneur du bouton en mode clair */
        height : 100px;
    }

    #dark-icon.light-mode,
    #light-icon.light-mode {
        background-color: #f2f2f2; /* Couleur de fond pour la ligne de l'icône en mode clair */
    }

    /* Styles pour le mode sombre */
    body.dark-mode {
        background-color: #000000; /* Couleur de fond de votre page en mode sombre */
    }

    #toggle-dark-mode-container.dark-mode {
        background-color: #000000; /* Couleur de fond pour le conteneur du bouton en mode sombre */
        height : 100px;
    }

    #dark-icon.dark-mode,
    #light-icon.dark-mode {
        background-color: #000000; /* Couleur de fond pour la ligne de l'icône en mode sombre */
    }
</style>



</body>


{% block body %}{% endblock %}


<!-- ORDRE DES INCLUSIONS DE FICHIERS JS TRES IMPORTANT !!! -->

<!-- Inclure d'abord le script qui contient getCookie -->
<script src="{{ asset('js/getCookie.js') }}"></script>

<script>const isDarkMode = {{ isDarkMode ? 'true' : 'false' }} || (getCookie('darkMode') === '1') || false;</script>

<!-- Ensuite, inclure le script principal -->
<script src="{{ asset('js/script.js') }}"></script>






    </body>
</html>
